/*
   RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
   GENERAL
*/
html {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*
   HEADER
*/

header {
    text-align: center;
}

h1 {
    color: rgb(246, 0, 127);
    margin: 20px 0;
}